* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background: #f3f5fc;
}
.main-container {
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f3f5fc;
}
main > p {
  color: #495057;
  font-size: 0.9rem;
  font-weight: 400;
  align-self: flex-start;
  margin-left: 2rem;
}
section {
  background: #f3f5fc;
  display: flex;
  justify-content: center;
}
#ttc {
  border: none;
  width: 22rem;
  height: 16rem;
  font-size: 2rem;
  color: #0a3871;
  overflow: visible;
  resize: none;
  padding: 0.5rem;
  margin-top: 1rem;
  background: #f3f5fc;
}
#ttc:focus {
  outline: none;
}
#ttc::placeholder {
  color: #0a3871;
  font-size: 2rem;
  font-style: normal;
}
#encripted-area > img {
  display: none;
}
.encripted-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#convert-button {
  background-color: #0a3871;
  color: white;
  font-size: 1.5rem;
  width: 22rem;
  height: 5rem;
  border-radius: 2rem;
  border: none;
  margin: 0.5rem;
}
#desencripted-button {
  color: #0a3871;
  font-size: 1.5rem;
  width: 22rem;
  height: 5rem;
  border-radius: 2rem;
  border: 0.15rem solid #0a3871;
  margin: 0.5rem;
}
#encripted-area {
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  padding: 1rem 0rem 0.5rem 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: 13rem;
  width: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#encripted-area > img {
  background: #ffffff;
  width: 33rem;
}
#encripted-area > p:nth-child(1) {
  background-color: #ffffff;
  color: #495057    ;
  font-size: 2rem;
  font-weight: 400;
  word-break: break-all;
  margin: 0.5rem;
  height: 33rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
#encripted-area > p:nth-child(2) {
  background: #ffffff;
  color: #343a40;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}
#encripted-area > p:nth-child(3) {
  background: #ffffff;
  text-align: center;
  color: #495057;
  font-size: 1.3rem;
}
#copy-btn {
  color: #0a3871;
  font-size: 1.5rem;
  width: 20rem;
  height: 5rem;
  border-radius: 2rem;
  border: 0.15rem solid #0a3871;
  margin: 0.5rem;
  align-self: center;
  background: #ffffff;
}

/*tablet*/

@media only screen and (min-width: 768px) {
  main {
    justify-content: center;
  }
  #ttc {
    width: 100%;
    padding: 1rem;
    min-height: 35rem;
  }
  .encripted-btns {
    flex-direction: row;
  }
  #encripted-area {
    width: 45rem;
  }
  #encripted-area > p:nth-child(1) {
    background-color: #ffffff;
    color: #495057    ;
    font-size: 2rem;
    font-weight: 400;
    word-break: break-all;
    margin: 0.5rem;
    height: 33rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

/*desktop*/

@media only screen and (min-width: 1200px) {
  #main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  main {
    justify-content: center;
    width: 60%;
  }
  #ttc {
    width: 30rem;
    align-self: center;
  }
  main > p {
    align-self: center;
  }
  .encripted-btns {
    align-self: center;
    width: 30rem;
  }
  #convert-button {
    height: 4rem;
    width: 18rem;
  }
  #desencripted-button {
    height: 4rem;
    width: 18rem;
  }
  section {
    width: 40%;
  }
  #encripted-area {
    width: 27rem;
  }
  #encripted-area > p:nth-child(1) {
    background-color: #ffffff;
    color: #495057    ;
    font-size: 2rem;
    font-weight: 400;
    word-break: break-all;
    margin: 0.5rem;
    height: 33rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #encripted-area > p:nth-child(1)::-webkit-scrollbar {
    display: none;
  }
  #encripted-area > img {
    display: block;
    width: 18rem;
  }
}
